html, body {
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Patrick Hand', cursive;
}

body {
  background-image: url("/images/background.jpg");
}

#title {
  margin-top: 20px;
  font-size: 2.8em;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 778px) and (min-width: 360px) {
  #title {
    text-align: center;
    font-size: 3em;
  }
}

p {
  font-size: 1.5em;
}

@media (max-width: 778px) and (min-width: 360px) {
  p {
    font-size: 1.7em;
  }
}

#todo-task {
  width: 30%;
  height: 80%;
  background: #020024;
  background: radial-gradient(circle, #020024 0%, rgba(201, 115, 224, 0.98083) 20%, #00d4ff 100%);
  margin-top: -130px;
  position: absolute;
  z-index: 30;
  margin-left: 444px;
}

@media (max-width: 778px) and (min-width: 360px) {
  #todo-task {
    margin-top: -330px;
    margin-left: -10px;
    width: 120%;
  }
}

.circle1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  opacity: 0.7;
  /*center it*/
  margin-left: -25px;
  margin-top: -25px;
}

.move-1 {
  -webkit-animation: rombus 15s linear 0s infinite;
          animation: rombus 15s linear 0s infinite;
}

@-webkit-keyframes rombus {
  0% {
    left: 50%;
    top: 0;
  }
  25% {
    left: 100%;
    top: 50%;
  }
  50% {
    left: 50%;
    top: 100%;
  }
  75% {
    left: 0;
    top: 50%;
  }
  100% {
    left: 50%;
    top: 0;
  }
}

@keyframes rombus {
  0% {
    left: 50%;
    top: 0;
  }
  25% {
    left: 100%;
    top: 50%;
  }
  50% {
    left: 50%;
    top: 100%;
  }
  75% {
    left: 0;
    top: 50%;
  }
  100% {
    left: 50%;
    top: 0;
  }
}

.circle2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  background: #2e002a;
  background: -webkit-gradient(linear, left top, right top, color-stop(-10%, #2e002a), color-stop(35%, #b4398f), to(#8765b4));
  background: linear-gradient(90deg, #2e002a -10%, #b4398f 35%, #8765b4 100%);
  opacity: 0.5;
  /*center it*/
  margin-left: -25px;
  margin-top: -25px;
}

.move-2 {
  -webkit-animation: rombus 30s linear 0s infinite;
          animation: rombus 30s linear 0s infinite;
}

@keyframes rombus {
  0% {
    left: 50%;
    top: 0;
  }
  25% {
    left: 100%;
    top: 50%;
  }
  50% {
    left: 50%;
    top: 100%;
  }
  75% {
    left: 0;
    top: 50%;
  }
  100% {
    left: 50%;
    top: 0;
  }
}

.circle3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  background: #460012;
  background: -webkit-gradient(linear, left top, right top, from(#460324), color-stop(35%, #ff5bba), to(#ffb4d1));
  background: linear-gradient(90deg, #460324 0%, #ff5bba 35%, #ffb4d1 100%);
  opacity: 0.5;
  /*center it*/
  margin-left: -25px;
  margin-top: -25px;
}

.move-3 {
  -webkit-animation: rombus 10s linear 0s infinite;
          animation: rombus 10s linear 0s infinite;
}

@keyframes rombus {
  0% {
    left: 50%;
    top: 0;
  }
  25% {
    left: 100%;
    top: 50%;
  }
  50% {
    left: 50%;
    top: 100%;
  }
  75% {
    left: 0;
    top: 50%;
  }
  100% {
    left: 50%;
    top: 0;
  }
}

#todo-task label {
  display: block;
  margin-top: 15px;
  width: 100%;
  margin-left: 5px;
  border: 3px;
  border-radius: 2px;
  font-size: 1.2em;
}

@media (max-width: 778px) and (min-width: 360px) {
  #todo-task label {
    font-size: 1.8em;
  }
}

#btn {
  font-size: 1.4em;
  margin-left: 41%;
}

@media (max-width: 778px) and (min-width: 360px) {
  #btn {
    margin-left: 24%;
  }
}

span {
  padding: 0px 19px 3px 20px;
  text-align: center;
  color: aliceblue;
  margin-left: 353px;
  background-color: #5a5555;
  margin-right: 500px;
  top: -47px;
  font-size: 1.4em;
  position: relative;
}

@media (max-width: 778px) and (min-width: 360px) {
  span {
    top: -57px;
  }
}

span:hover {
  background-color: red;
  cursor: pointer;
}

#newTaskName {
  padding-right: 190px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.2em;
}

@media (max-width: 778px) and (min-width: 360px) {
  #newTaskName {
    padding-right: 75px;
    margin-left: 15px;
    font-size: 1.8em;
  }
}

#newTagName {
  padding-right: 190px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.2em;
}

@media (max-width: 778px) and (min-width: 360px) {
  #newTagName {
    padding-right: 75px;
    margin-left: 15px;
    font-size: 1.8em;
  }
}

#newPriority {
  padding-right: 280px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.2em;
}

@media (max-width: 778px) and (min-width: 360px) {
  #newPriority {
    font-size: 1.6em;
    padding-right: 226px;
    margin-left: 15px;
  }
}

#create-task {
  padding-left: 80px;
  margin-left: 85px;
  padding-right: 80px;
}

@media (max-width: 778px) and (min-width: 360px) {
  #create-task {
    font-size: 2em;
    padding-right: 20px;
    margin-left: 113px;
    padding-left: 20px;
    margin-top: -28px;
  }
}

/* css for newTask list */
.list-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  height: 100%;
  margin-left: 18%;
  position: absolute;
  background-color: #bd84d8;
}

@media (max-width: 778px) and (min-width: 360px) {
  .list-flex {
    margin-top: 120px;
    width: 100%;
    margin-left: 0%;
  }
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  background-color: var(--primary-dark);
  margin-bottom: 0.5rem;
  border-radius: 6px;
  font-size: 1.5em;
  color: var(--bc-wht);
  -webkit-transition: var(--ease);
  transition: var(--ease);
}

@media (max-width: 778px) and (min-width: 360px) {
  .list-item {
    font-size: 1.8em;
  }
}

.list-item {
  width: 90%;
  margin-top: 10px;
  margin-left: 44px;
  height: 12%;
}

@media (max-width: 778px) and (min-width: 360px) {
  .list-item {
    height: 8%;
    margin-left: 20px;
  }
}

.list-item:hover {
  background-color: #7ecfbb;
  -webkit-transition: var(--ease);
  transition: var(--ease);
}

.list-item-type {
  padding: 3px 11px;
  border-radius: 100px;
  background-color: #ffda6d;
  color: var(--primary-dark);
  margin-left: -140px;
}

@media (max-width: 778px) and (min-width: 360px) {
  .list-item-type {
    padding: 0px 13px;
  }
}

.list-item-value {
  width: 200px;
}

.list-item-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-item-remove:hover {
  color: #fa0000;
  cursor: pointer;
}

#taskk {
  text-align: center;
}

@media (max-width: 778px) and (min-width: 360px) {
  #taskk {
    text-align: center;
    font-size: 1.8em;
    margin-top: 14px;
    font-weight: bolder;
    margin-left: -70px;
  }
}

p {
  text-align: center;
}

.disable-modal {
  visibility: visible;
}

.enable-modal {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */