html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#task-box {
    width: 45%;
    height: 70%;
    background-color: rosybrown;
    margin-top: 80px;
    position: absolute;
}
#add-task {
    display: grid;
}
#cancel {
    padding: 5px 30px 5px 20px;
    text-align: center;
    margin-left: 565px;
    background-color: rgb(90, 85, 85);
    margin-right: 500px;
    font-size: 1.4em;
    margin-top: -250px;
}
#cancel:hover {
    background-color: red;
    cursor:pointer;
}
h1 {
    text-align: center;
}
#button
{
    position:absolute;
    top: 380px;
}